@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
}

body {
	font-size: 15px;
	font-family: "Lexend Deca", sans-serif;
	background-color: hsl(0, 0%, 95%);
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border-radius: 12px;
	margin: 2rem;
	overflow: hidden;
}

.box1 {
	background-color: var(--bright-orange);
}

.box2 {
	background-color: var(--dark-cyan);
}
.box3 {
	background-color: var(--very-dark-cyan);
}

.box {
	padding: 40px;
}

.box h2 {
	font-family: "Big Shoulders Display", cursive;
	text-transform: uppercase;
	color: hsl(0, 0%, 95%);
	font-size: 30px;
}

.box p {
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.6;
}

.box a {
	text-decoration: none;
	background-color: hsl(0, 0%, 95%);
	padding: 13px 27px;
	border-radius: 26px;
	display: inline-block;
	margin-top: 60px;
	border: 2px solid hsl(0, 0%, 95%);
	transition: all 0.4s ease-in-out;
}

.box1 a {
	color: var(--bright-orange);
}

.box2 a {
	color: var(--dark-cyan);
}

.box3 a {
	color: var(--very-dark-cyan);
}

.box a:hover {
	color: hsl(0, 0%, 95%);
	background-color: transparent;
}

@media only screen and (max-width: 768px) {
	.wrapper {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 425px) {
	.wrapper {
		margin: 1rem;
	}
}
